
#circleLeft {
    top: 50%;
    left: 50%;
    
}

#circleRight {
    top: 50%;
    left: 50%;
}

div {
    background-color: orange;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
}


img {
    display: block;
}
